.btn-custom {
  background-color: hsl(257, 52%, 7%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#492d8f", endColorstr="#0d081b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#492d8f), to(#0d081b));
  background-image: -moz-linear-gradient(top, #492d8f, #0d081b);
  background-image: -ms-linear-gradient(top, #492d8f, #0d081b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #492d8f), color-stop(100%, #0d081b));
  background-image: -webkit-linear-gradient(top, #492d8f, #0d081b);
  background-image: -o-linear-gradient(top, #492d8f, #0d081b);
  background-image: linear-gradient(#492d8f, #0d081b);
  border-color: #0d081b #0d081b hsl(257, 52%, -0.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
  font-family: 'Signika';

}

.calendar{
	display: block;
	margin: 0px auto;
	border: black solid 3px;
	margin-top: 30px;
}

.calendar_outer{
	width: 50%;
	margin: 0 auto;
}

.cancel_btn{
	font-size: 20px;
	margin-top: 20px;
}

.carpool_buddy_div {
	background-color: white;
	border: dashed black 2px;
	text-align: center;
	margin-top: -20px;
}

.group_calendar_heading{
	text-align: center;
	border: black solid 1px;
	color: white;
	background-color: #330f53;
	font-family: 'Signika';
}

.group_distance_div{
	padding: 15px;
}

.ground_distance_heading{
	text-align: center;
	color: #330f53;
	text-decoration: underline;
	font-family: 'Signika';
}

.group_info_heading{
	text-align: center;
	border: black solid 1px;
	color: white;
	background-color: #330f53;
	font-family: 'Signika';
}

.group_member{
	font-family: 'Signika';
	color: #7e7e7e;
}

.group_owner_div{
	padding: 15px;
}

.group_owner_heading{
	text-align: center;
	color: #330f53;
	text-decoration: underline;
	font-family: 'Signika';
}

.in_line{
	text-align: center;
	font-family: 'Signika';
	color: #7e7e7e;

}

.navbar_option{
	font-family: 'Signika';
	font-size: 17px;
}

.navbar_title{
	font-family: "Lobster";
	font-size: 30px;
	color:#ffff7f;
}

.other_members{
	margin: 0px auto;
}

.other_members_div{
	padding: 15px;
}

.other_members_heading{
	text-align: center;
	color: #330f53;
	text-decoration: underline;
	font-family: 'Signika';
}

.request_invite_btn{
	font-size: 20px;
	margin-top: 20px;
}
.request_invite_btn_div{
	text-align: center;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
