/* global.css styles */

/* @group resets and elements */



html { height: 101%;  }
body { font-family: 'Signika'; line-height: 10%; }

img { border: 0;}

h1 { color: #444; font-weight: bold; font-size: 1.7em; line-height: 1.0em; }
h3 { color: #444; font-weight: normal; font-size: 24px; line-height: .1em;  }
h2 {font-size: 2.5em;}
h6 {font-size:1.5em; margin: 0px; padding-top: 15px;}
.edit-button { float:left; padding-top: 30px; font-size: 16px; color: #330f53}
/* @group core */
.wrapper { width: 850px; overflow: hidden; margin: 0 auto; background: none; }

#content { display: block; width: 1200px; margin: 0 auto;  }

#left { display: block; width: 1200px; float: left; overflow: hidden; margin-right: 20px; padding-top: 100px; }
.children{padding-top: 30px;}

/* @group left */
#userStats { display: block; width: auto; background-color: #f9f9f9; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 12px; }

#userStats .pic { float: left; display: block; margin-right: 10px; }
#userStats .pic a img { padding: 7px; background: #fff; border: 1px solid #ccc; }

#userStats .data { float: left; display: block; position:  relative; width: 920px; height: 230px; padding: 4px; padding-left: 15px; background: #e6e6e6; overflow:  hidden; box-sizing: border-box; -moz-box-sizing: border-box; }
.username{ padding-top:10px; font-size: 25px; color: #330f53  } 
.userinfo{font-size: 16px;}




#userStats .data .sep { clear: both; margin-top: 40px; width: 320px; height: 1px; border-bottom: 1px solid #ccc; margin-bottom: 10px; }
.sep{ clear: both; margin-top: 10px; width: 380px; height: 1px; border-bottom: 1px solid #ccc;  }

.AddChild {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:'Signika';;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:27px;
	line-height:27px;
	width:104px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
.AddChild:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.AddChild:active {
	position:relative;
	top:1px;
}
.child {
	padding-top: 0px;
	display: none;
}
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.nobrdr { border: 0px !important; }
.main {
    background: #aaa url(../images/bg.jpg) no-repeat;
    width: 800px;
    height: 600px;
    margin: 50px auto;
}
.panel {
    background-color: #444;
    height: 34px;
    padding: 10px;
}
.addWrapper{
    padding-right: 20px;
}
.addChildWrapper{
    padding-top: 10px;
}
#add{float:right;}

a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    color:#330f53;
    background-color: #fff;
/*    border: 3px solid #fff;*/
    border: 1px solid #999;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;
    height: 300px;
    width:350px;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

/*    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;*/

/*    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;*/
/*    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;*/

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: #330f53;
}
.popup p{
    color:#330f53;
	font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.forminput{
    color: #330f53;
    font-family: 'Signika';
    margin-bottom: 25px;
    font-size: 15px;
}
.warning{

    font-size: 12px;
}
.forminput2{
    font-family: 'Signika';
    margin-bottom: 20px;
    font-size: 15px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}


/*.warningwrapper{padding-top:45px;}*/
.childrenTitle{ color:#330f53; padding-top:170px; margin-top:15px; padding-bottom: 10px; font-size: 25px;}
.delete-button{color:#330f53;float: right; margin-bottom: 0px; padding-bottom: 15px; padding-right: 800px;
font-size: 14px;}
.childName{
    color:#330f53;
    font-size: 25px;
    margin-bottom: 0px;
}
.updateform    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:425px;
height:350px;
font-family: 'Signika';;
font-size: 15px;
line-height: 15px;
font-weight: bold;
color: #330f53;
text-decoration: none;
/*-webkit-border-radius: 10px;*/
/*-moz-border-radius: 10px;*/
/*border-radius: 10px;*/
padding:5px;
border: 1px solid #999;
border: inset 1px solid #333;
/*-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
*/
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
/*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
*/}
.updateform input    {
color:#330f53;
width:375px;
display:block;
border: 1px solid #999;
height: 20px;
/*-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
/*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
*/}
.popupform p, .popupform div {
    font-size: 1.4em;
    margin-bottom: 25px;
}
.popupform label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popupform input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popupform input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}
.popupform {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    font-family:'Signika';
    top: 40%;
    visibility: hidden;
    z-index: 10;
    height: 400px;
    width:500px;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

/*    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;*/

    /*-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;*/

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popupform {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.buttonOverlay{
    float:left;
}
#save{
float: left;
width:100px;
position:absolute;
left:275px;
bottom:15px;
font-family:'Signika';;
height:30px;

}
.btn-custom {
  background-color: hsl(257, 52%, 7%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#492d8f", endColorstr="#0d081b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#492d8f), to(#0d081b));
  background-image: -moz-linear-gradient(top, #492d8f, #0d081b);
  background-image: -ms-linear-gradient(top, #492d8f, #0d081b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #492d8f), color-stop(100%, #0d081b));
  background-image: -webkit-linear-gradient(top, #492d8f, #0d081b);
  background-image: -o-linear-gradient(top, #492d8f, #0d081b);
  background-image: linear-gradient(#492d8f, #0d081b);
  border-color: #0d081b #0d081b hsl(257, 52%, -0.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
  font-family: 'Signika';

}
